<div class="modal fade" id="editprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form action = "/profilepic?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="imagesrc" class="col-form-label">Profile:</label>
			<img class = "editp" src = "<%= currentUser.profile.img %>">
            <input type="file" class="form-control" name = "imagesrc" accept="image/*" onchange="loadFile(event, false)" id="imagesrc" required>
          </div>
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Upload Profile Picture</button>
        </form>
		<form action = "/profilepic?_method=DELETE" method="POST">
			<button type = "submit" class = "btn btn-warning">
				Delete Profile picture
			</button>	
		</form>
      </div>
    </div>
  </div>
</div>