.thumbnail img{
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full{
	padding: 9px;
}

.inlineform {
	display: inline
}

.modal-dialog {
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}



.jumbotron h1 img{
	max-width: 20%;
	max-height: 100%;
	margin-right: 15%;
}

.form-group img{
	max-width: 100%;
	max-height: 100%;
}